.forgotpassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  margin: auto;
  height: auto;
}

h1 {
  color: black;
  margin-bottom: 20px;
  font-size: 25px;
}

form {
  text-align: left;
}

table {
  width: 100%;
}

td {
  padding: 10px;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submitbtn {
  background: #e1792f;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
