.navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.left {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.search-bar-container {
  position: relative;
  padding: 2px;
  display: flex;
  border-radius: 20px;
  border: 0.5px solid black;
  align-items: center;
  margin-left: 25px;
}
/*.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
}*/

.search-bar {
  padding-left: 30px;
  border: none;
  width: 100%;
  outline: 0;
}
/*.search-bar {
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  border: 0.5px solid black;
}*/

.center {
  flex: 1;
  text-align: center;
}

.logo {
  max-width: 150px;
  justify-content: center;
}

.right {
  flex: 1;
  text-align: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:last-child a {
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 8px 30px;
}

nav ul li:last-child a:hover {
  border: 0.5px solid #e49963;
  padding: 8px 30px;
  color: black;
}
.search-bar-container {
  position: relative;
}
nav ul li a:hover {
  color: #e1792f;
}
nav ul li.selected a {
  text-decoration: underline;
}
.search-bar-container {
  position: relative;
  z-index: 1000; /* Ensure the search bar is above other elements */
}

.search-history {
  list-style-type: none;
  position: absolute;
  top: calc(100% + 4px); /* Adjust this value as needed */
  left: 0;
  background-color: #ffffff; /* Grey background color */
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1001; /* Ensure the dropdown is above the search bar */

  overflow-y: auto; /* Enable vertical scrolling if needed */
  color: black;
  width: 250px;
  font-size: 12px;
}
.search-item-history {
  background-color: rgb(205, 205, 205);
  list-style-type: none;
}
.search-history li {
  padding: 8px 12px;
  cursor: pointer;
}

.search-history li:hover {
  background-color: #f0f0f0;
}
.search-item {
  list-style-type: none;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.dropdown li {
  list-style-type: none;
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
.user-heading {
  color: black;
}
