.recipecontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 40px;
}

.recipe-view--sort {
  display: flex;
  flex-direction: column;
}
.recipe-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 15px;
}
.sort-filter {
  display: flex;
  justify-content: end;
}
.main-recipe-section {
  margin-top: 20px;
}
.recipecontainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 40px;
}
.recipe-view--sort {
  display: flex;
  flex-direction: column;
}
.recipe-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 15px;
}
.sort-filter {
  display: flex;
  justify-content: end;
}
.main-recipe-section {
  margin-top: 20px;
}
.main-recipe-section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}
.main-recipe-section-header h1 {
  font-size: 40px;
  font-family: serif;
  padding-top: 15px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
}

.pagination li button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #e49963; /* Example color for active page */
  color: white;
  border-color: #e68845;
}
.filtering-msg {
  text-align: center;
  margin-bottom: 20px;
  font-family: serif;
  padding-top: 15px;
}

.alternative-recipes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 15px;
}
