.dashboard-area {
  display: flex;
}

.recipeslist-content {
  flex-grow: 1;
  padding: 20px;
}

.recipes-table {
  width: 100%;
  border-collapse: collapse;
}

.recipes-table th,
.recipes-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.recipes-table th {
  background-color: #f2f2f2;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.view-button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.018
  ); /* Adjust transparency as needed */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  width: 100%;
  max-width: 800px; /* Adjust max width as needed */
  max-height: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow vertical scrolling */
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  font-size: 24px;
}

.video-wrapper {
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pagination-input-button {
  padding: 8px 16px;
  background-color: #e19660;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-input-button:hover {
  background-color: #c17645;
}
