.recommendedrecipes {
  margin-right: 90px;
  margin-left: 90px;
  margin-bottom: 50px;
}
.recommendedrecipes h1 {
  font-family: serif;
  font-size: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
