.dashboard-area {
  display: flex;
}

.reviewslist-content {
  flex-grow: 1;
  padding: 20px;
}

.review-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-size: 16px;
}

.sort-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e19660;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.sort-button:hover {
  background-color: #dc6c1c;
}

.review-table {
  width: 100%;
  border-collapse: collapse;
}

.review-table th,
.review-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.review-table th {
  background-color: #f2f2f2;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: darkred;
}
.pagination-input-button {
  padding: 8px 16px;
  background-color: #e19660;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-input-button:hover {
  background-color: #c17645;
}
.toggle-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjusts the space between label and switch */
}

.toggle-label {
  font-size: 14px; /* Adjusts the font size of the label */
  color: #333;
  margin-right: 0;
  font-weight: 500;
}

.toggle-switch {
  width: 40px; /* Width of the toggle switch */
  height: 21px; /* Height of the toggle switch */
  background-color: #e19660;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-knob {
  width: 18px; /* Width of the toggle knob */
  height: 18px; /* Height of the toggle knob */
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  right: 2px;
  transition: transform 0.3s ease;
}

.toggle-knob-active {
  transform: translateX(20px);
}
