.sidebar {
  width: 280px;
  background-color: #ffebdc;
  color: black;
  height: 100%;
  position: relative;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  padding-top: 10%;
  height: 100vh;
}

.sidebar ul li {
  padding-top: 15px;
  padding-left: 40px;
  padding-bottom: 15px;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  font-size: x-large;
  font-weight: 300;
}
.sidebar ul li:hover {
  background-color: #f7af78;
}
.sidebar::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 5px;
  height: 100%;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}
