.user-profile-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.usercontainer {
  display: flex;
  flex: 1;
}
.user-profile-heading {
  display: flex;
}
.profile-icon {
  margin-right: 30px;
}

.user-content-section {
  flex: 1;
  padding: 20px;
}
.user-content-section h2 {
  font-family: serif;
  font-size: 33px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
.user-details {
  margin-bottom: 20px;
}

.detail-item {
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
}

.detail-item label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
}

.button-group button {
  margin-right: 10px;
}

.okbtn {
  background-color: #e16d19;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  font-size: 12px;
  height: 30px;
  margin-top: 8px;
}
.username_field {
  width: 300px;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}
.changepasswordbtn {
  background: #e1792f;
  color: #fff;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancelbtn {
  background-color: #e16d19;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  font-size: 12px;
  margin-left: 10px;
  height: 30px;
  margin-top: 8px;
}
