.history-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-weight: 600;
}

.remove-all-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.load-more-button {
  display: block;
  background-color: #e1792f;
  color: white;

  padding: 10px 20px;

  margin: 20px auto;
}

.history-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty-message {
  margin-top: 20px;
  text-align: center;
  color: #999;
}

.load-more-button,
.remove-all-button {
  display: block;

  padding: 10px 20px;
  background-color: #e1792f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:hover,
.remove-all-button:hover {
  background-color: #0056b3;
}
