/*hero section*/
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
.left-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 250px;
  padding-left: 130px;
}
.left-heading h1 {
  font-size: 50px;
  font-family: serif;
}
.left-heading p {
  padding-top: 10px;
  padding-right: 65%;
  padding-bottom: 10px;
}
.left-heading button {
  width: 250px;
  height: 50px;
  border: 2px solid #e06711;
  background: #e19660;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}
/*popular recipe*/
.popularrecipe {
  height: 70vh;
  gap: 10px;
}
.popularrecipe h1 {
  color: black;
  font-size: 36px;
  font-family: serif;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}
/*new recipe*/
.newrecipe {
  height: 70vh;
  gap: 10px;
}
.newrecipe h1 {
  color: black;
  font-size: 36px;
  font-weight: lighter;
  font-family: serif;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.new-slider {
  margin-left: 70px;
  margin-right: 70px;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
/*why choose us section*/
.whychooseus {
  height: 50vh;
  background-color: #f9ece3;
  width: 100%;
}
.whychooseus h1 {
  font-weight: 300;
  font-size: 36px;
  font-family: serif;
  justify-content: center;
  display: flex;
  padding-top: 40px;
}
.features {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  padding-left: 90px;
}
.feature {
  width: 300px;
  height: 150px;
  padding: 30px;
  margin-right: 20px;
}
.features h2 {
  font-family: serif;
  font-size: x-large;
  padding-bottom: 10px;
}
.features p {
  font-size: small;
}
/* joinnow section */
.joinnow {
  height: 50vh;
  width: 70%;
  display: flex;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}
.joinnow-left {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.joinnow-left h1 {
  font-size: 36px;
  font-weight: lighter;
  font-family: serif;
  padding-bottom: 10px;
}
.joinnow-left h3 {
  font-weight: 200;
  font-size: 16px;
  font-family: serif;
  padding-bottom: 15px;
}
.joinnow-left p {
  font-size: 12px;
  font-weight: 300;
}
.joinnow-left button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background: #e19660;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
}
.joinnow-right {
  display: flex;
  padding-left: 60px;
  justify-content: flex-end;
  object-fit: cover;
  flex: 1;
}
